@import url('https://fonts.googleapis.com/css?family=Russo+One');
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	}



.page{
	margin: 0;
	background: #fcfcfc;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
}
.center-header{
	width: 100%;	
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.move-header{
	background: white;
	position: fixed;
	z-index: 10;
	height: 60px;
	width: 100%;
	box-shadow: 0px 10px 11px -4px #000000;
	animation: fade-menu 1s;	
}
@keyframes fade-menu{
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}
.logo-size{
	transform: translate(-540px, 14px) Scale(0.4);
}
.center-header img{
	padding: 10px 0;
}
.header-image-fade{
	animation: fade-image 2s linear;
}
@keyframes fade-image{
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}
  .menu-ancor{

  }
  .menu-ancor a{
  	text-decoration: none;
  	padding: 10px 20px 0;
  	color: black;
  	font-size: 20px;
  }
  .ancor-menu-position{
	transform: translate(0px, -77px);
  }
  .anim-menu{
  	animation: menu-anim 2s linear;
  	animation-delay: 1s;
  	opacity: 0;
  	animation-fill-mode: forwards;
  }
 @keyframes menu-anim{
  	0%{ opacity: 0; }
  	100%{ opacity: 1; }
  }
hr{
	background: black;
	margin: 0;
	z-index: 1;
}
.text-middle-line{
    top: 24px;
    position: relative;
}
.center{
	display: flex;
	flex-direction: column;
	max-width: 1300px;
	width: 100vw;
	background: white;
	
}
.title-block{	
	display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.title-block h2{
	text-align: center;
	z-index: 2;
	background: white;
	padding: 0 10px 0 10px;
}

.center-first-info{
	display: flex;
    justify-content: center;
    flex-direction: column;
        padding-top: 40px; /*временно*/
}
/* Настройки слайдера*/
body .slick-initialized .slick-slide{
    display: flex;
    justify-content: center;
}
li{
	display: block;
}
.slick-dots{
	display: flex;
	justify-content: center;
}
/*Контент*/
.center-two-block{
	display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;		
}
.two-block-content{
	text-align: center;
	color: grey;
	width: 900px;
	height: 100px;
}
.circles-box{
	display: flex;
	flex-wrap: wrap;
	width: 799px;	
    justify-content: center;
}
.circle-one{
	border: 3px solid #30b3b7;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 10px 15px;
	background: white;
}
.gray-info-area{
	display: flex;
	flex-direction: column;
	background: #bdc0c2;
	height: 270px;
	margin-top: 50px;
	width: 100%;
	
}
.gray-info-area-first{
	text-align: center;
	color: white;
}
.gray-info-area-first h3{
	margin: 20px 0;
}
.gray-info-area-second{
	display: flex;
    justify-content: space-evenly;	
	color: white;
}

.link-border-radius{
	border-radius: 50%;
}
.modal-content{
	transform: translate(0vh, 25vw);
}